[submodule "iconpacks/fontawesome"]
	path = iconpacks/fontawesome
	url = https://github.com/FortAwesome/Font-Awesome.git
[submodule "iconpacks/remixicon"]
	path = iconpacks/remixicon
	url = https://github.com/Remix-Design/RemixIcon.git
[submodule "iconpacks/academicons"]
	path = iconpacks/academicons
	url = https://github.com/jpswalsh/academicons.git
[submodule "iconpacks/simple-icons"]
	path = iconpacks/simple-icons
	url = https://github.com/simple-icons/simple-icons.git
[submodule "iconpacks/weather-icons"]
	path = iconpacks/weather-icons
	url = https://github.com/erikflowers/weather-icons.git
[submodule "iconpacks/flat-color-icons"]
	path = iconpacks/flat-color-icons
	url = https://github.com/icons8/flat-color-icons.git
[submodule "iconpacks/cryptocurrency-icons"]
	path = iconpacks/cryptocurrency-icons
	url = https://github.com/spothq/cryptocurrency-icons.git
[submodule "iconpacks/flag-icon"]
	path = iconpacks/flag-icon
	url = https://github.com/lipis/flag-icon-css.git
[submodule "iconpacks/bootstrap-icons"]
	path = iconpacks/bootstrap-icons
	url = https://github.com/twbs/icons.git
[submodule "iconpacks/pokemon-icons"]
	path = iconpacks/pokemon-icons
	url = https://github.com/TheArtificial/pokemon-icons.git
[submodule "iconpacks/octicons"]
	path = iconpacks/octicons
	url = https://github.com/primer/octicons.git
[submodule "iconpacks/pixelarticons"]
	path = iconpacks/pixelarticons
	url = https://github.com/halfmage/pixelarticons.git
[submodule "iconpacks/line-awesome"]
	path = iconpacks/line-awesome
	url = https://github.com/icons8/line-awesome.git
[submodule "iconpacks/vscode-icons"]
	path = iconpacks/vscode-icons
	url = https://github.com/vscode-icons/vscode-icons.git
[submodule "iconpacks/heroicons"]
	path = iconpacks/heroicons
	url = https://github.com/tailwindlabs/heroicons.git
[submodule "iconpacks/primeicons"]
	path = iconpacks/primeicons
	url = https://github.com/primefaces/primeicons.git
[submodule "iconpacks/ionicons"]
	path = iconpacks/ionicons
	url = https://github.com/ionic-team/ionicons.git
[submodule "iconpacks/coreui-icons"]
	path = iconpacks/coreui-icons
	url = https://github.com/coreui/coreui-icons.git
[submodule "iconpacks/material-design-icons"]
	path = iconpacks/material-design-icons
	url = https://github.com/google/material-design-icons.git
