[submodule "iconpacks/fontawesome"]
	path = iconpacks/fontawesome
	url = https://github.com/FortAwesome/Font-Awesome.git
[submodule "iconpacks/remixicon"]
	path = iconpacks/remixicon
	url = https://github.com/Remix-Design/RemixIcon.git
[submodule "iconpacks/academicons"]
	path = iconpacks/academicons
	url = https://github.com/jpswalsh/academicons.git
[submodule "iconpacks/simple-icons"]
	path = iconpacks/simple-icons
	url = https://github.com/simple-icons/simple-icons.git
[submodule "iconpacks/weather-icons"]
	path = iconpacks/weather-icons
	url = https://github.com/erikflowers/weather-icons.git
