.dark pre[class*="language-"] {
  color: #ccc;
}

/* Inline code */
.dark :not(pre) > code {
	background-color: rgba(76, 86, 128, 0.4);
	color: #96c2eb;
}

.dark .token.comment,
.dark .token.block-comment,
.dark .token.prolog,
.dark .token.doctype,
.dark .token.cdata {
  color: #7d8391;
}

.dark .token.punctuation {
  color: #ccc;
}

.dark .token.tag,
.dark .token.namespace,
.dark .token.deleted {
  color: #e67b70;
}

.dark .token.function-name,
.dark .token.function {
  color: #87befd;
}

.dark .token.attr-name,
.dark .token.boolean,
.dark .token.number {
  color: #fec28c;
}

.dark .token.property,
.dark .token.class-name,
.dark .token.constant,
.dark .token.symbol {
  color: #fee89c;
}

.dark .token.selector,
.dark .token.important,
.dark .token.atrule,
.dark .token.keyword,
.dark .token.builtin {
  color: #dd85f8;
}

.dark .token.string,
.dark .token.char,
.dark .token.attr-value,
.dark .token.regex,
.dark .token.variable {
  color: #a2ce83;
}

.dark .token.operator,
.dark .token.entity,
.dark .token.url {
  color: #56b6c2;
}

.dark .token.important,
.dark .token.bold {
  font-weight: bold;
}
.dark .token.italic {
  font-style: italic;
}

.dark .token.entity {
  cursor: help;
}

.dark .token.inserted {
  color: green;
}
