.dark-mode pre[class*="language-"] {
    color: #ccc;
}

/* Inline code */
.dark-mode :not(pre) > code {
	background-color: rgba(76, 86, 128, 0.4);
	color: #96c2eb;
}

.dark-mode .token.comment,
.dark-mode .token.block-comment,
.dark-mode .token.prolog,
.dark-mode .token.doctype,
.dark-mode .token.cdata {
    color: #7d8391;
}

.dark-mode .token.punctuation {
    color: #ccc;
}

.dark-mode .token.tag,
.dark-mode .token.namespace,
.dark-mode .token.deleted {
    color: #e67b70;
}

.dark-mode .token.function-name,
.dark-mode .token.function {
    color: #87befd;
}

.dark-mode .token.attr-name,
.dark-mode .token.boolean,
.dark-mode .token.number {
    color: #fec28c;
}

.dark-mode .token.property,
.dark-mode .token.class-name,
.dark-mode .token.constant,
.dark-mode .token.symbol {
    color: #fee89c;
}

.dark-mode .token.selector,
.dark-mode .token.important,
.dark-mode .token.atrule,
.dark-mode .token.keyword,
.dark-mode .token.builtin {
    color: #dd85f8;
}

.dark-mode .token.string,
.dark-mode .token.char,
.dark-mode .token.attr-value,
.dark-mode .token.regex,
.dark-mode .token.variable {
    color: #a2ce83;
}

.dark-mode .token.operator,
.dark-mode .token.entity,
.dark-mode .token.url {
    color: #56b6c2;
}

.dark-mode .token.important,
.dark-mode .token.bold {
    font-weight: bold;
}
.dark-mode .token.italic {
    font-style: italic;
}

.dark-mode .token.entity {
    cursor: help;
}

.dark-mode .token.inserted {
    color: green;
}